canvas{
    border: 1px solid black;
    width: 100%;
}
.my-nav{
	margin-bottom: 7vh;
}
.my-background{
  height: 93vh;
  background: #000 url("/swss.png") no-repeat fixed center;
  background-size: cover;
}
.my-loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    text-align: center;
    float: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.my-white{
	color: white;
}

@font-face {
    font-family: "galactic";
    src: url(/gb.ttf) format("truetype");
}

.my-galactic{
    font-family: "galactic"
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    color: black;
    font-size: 12px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #eeeeee;
}

.modal {
position: fixed;
top: 0;
z-index: 11;
width: 100%;
min-height: 100%;
overflow: hidden;
background-color: #fff;
opacity: 0;
-webkit-transition: -webkit-transform .25s, opacity 1ms .25s;
-moz-transition: -moz-transform .25s, opacity 1ms .25s;
transition: transform .25s, opacity 1ms .25s;
-webkit-transform: translate3d(0, 100%, 1px);
-ms-transform: translate3d(0, 100%, 1px);
transform: translate3d(0, 100%, 1px);
}
.modal.active {
height: 100%;
opacity: 1;
-webkit-transition: -webkit-transform .25s;
-moz-transition: -moz-transform .25s;
transition: transform .25s;
-webkit-transform: translate3d(0, 0, 1px);
-ms-transform: translate3d(0, 0, 1px);
transform: translate3d(0, 0, 1px);
}